@charset "UTF-8";
body{
	background-color: black;
}
.primera_parte{
	background-color: #4b4b4b;
}
.titulo{
	color: white;
}
.subtitulo{
	color: white;
	margin-left: 60px;
	margin-top: 0px;
}
.logos{
	margin-left: 190px;
}
.barrita{
	position: relative;
	bottom: 50px;
}
.tabla1{
	background-color:#ff0000;
	width: 100%;
}
#tab1{
	color:white;
	font-family: Verdana;
	font-size: small;
}
#vengadores{
	padding: 30px;
}
.principal{
	margin: auto;
	margin-top: 50px;
	width: 1015px;
	height: 1262px;
	position: relative;
	background-color: white;
}
.tabla2{
	border-collapse: separate;
	border-spacing: 5px;
}
.tabla2 td{
	padding: 10px;
	height: 20px;
	border: 1px solid;
	border-color: #ddd;
	background-color: #ddd;
}
#tab2{

	font-family: sans-serif;
	font-size: 14px;
}
.peliculas{
	width: 705px;
	height: 1000px;
	padding: 10px;
	position: relative;
	background-color: white;
	overflow: hidden;
	float: left;
}
.pel{
	margin: 9px;
	margin-top: 8px;
	padding: 1px;
	float: left;
}
.pel img{
	width: 155px;
	height: 230px;
}
#peli1{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli2{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli3{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli4{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli5{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli6{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli7{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli8{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli9{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli10{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli11{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli12{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli13{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli14{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli15{
	width: 155px;
	height: 230px;
	background-color: white;
}
#peli16{
	width: 155px;
	height: 230px;
	background-color: white;
}
.parte_abajo{
	width: 100%;
	height: 800px;
	margin-top: 80px;
	background-color: #eee;
}
.promociòn{
	width: 100%;
	height: 300px;
	padding: 0px;
	background-color: #eee;
}
#altavoz{
	width: 30px;
	height: 30px;
}
#pro{
	width: 500px;
	height: 150px;
}
#pro1{
	width: 500px;
	height: 130px;
	margin-left: 150px;
}
p{
	margin-left: 150px;
	font-family: sans-serif;
}
#lo{
	width: 300px;
	height: 300px;
	margin-left: 150px;
}
#log{
	width: 300px;
	height: 300px;	
}